# JWT
SECRET_KEY=your-secret-key
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=60

# Database
MYSQL_ROOT_PASSWORD=your-root-password
MYSQL_DATABASE=brain_tumor_db
MYSQL_USER=brainuser
MYSQL_PASSWORD=brainpassword

DATABASE_URL=mysql+pymysql://brainuser:brainpassword@hostname:3306/brain_tumor_db

# Uploads
UPLOAD_FOLDER=uploads

# Backend URL
BACKEND_URL=http://localhost:8000